 @media (max-width :766px){
    .home-background{
        background-image: none ;
    }
     
.about  h2,.contacts h2, .skills h2, .services h2, .testimonials h2 {
font-size: 35px;
}

.typewritter{
    display: flex;
    width: 100%;
}
.about div{
    animation: none ;
    font-size: 10px;
    margin-left: 5%;
    width:90%;
}
.about .btn {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:70%;
    padding: 5px;
}
.sm-icon-container  {
    padding-left: 10px;
    font-size: 10px;
justify-content: space-evenly;
}
}
@media (max-width :768px) {
    .about div{
        animation: none ;
        font-size: 15px;
        margin-left: 5%;
        width:90%;
    }
    .about .btn {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left:70%;
        padding: 5px;
    }

    .sm-icon-container  {
        padding-left: 10px;
        font-size: 10px;
    justify-content: space-evenly;

    }
    .testomonial-card-img{
        width: 100%;
    }
    .skill-table tr td{
        
        border: 1px solid rgba(255, 255, 255, 0.288) ;
        text-align: center;
        font-size: 5px;
        vertical-align: middle;
        
       
    }
    .home-content{
        margin-top: 50%;
        margin-bottom: 5%;
    }
    .div1,.div2,.div3,.div4 {
     
        font-size:15px;
   
      }
      
 
} 
